environment:
  nodejs_version: '12'

matrix:
  fast_finish: true

skip_tags: true

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm run build
  - npm run lint
  - npm run test:ci
  - npm run coverage:check

build: off
deploy: off

cache:
  - node_modules
