{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# ng-dynamic-component - Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run pack:changelog"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/ng-dynamic-component",
        "tarballDir": "dist"
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): release ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "dist/*.tgz"
      }
    ]
  ]
}
