name: Test

on:
  # Triggers the workflow on push events
  push:
  # Triggers the workflow on pull request events
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Format check'
            cmd: 'npm run format:check'
          - name: 'Lint check'
            cmd: 'npm run lint'
          - name: 'Unit tests'
            cmd: 'npm run test:ci'
          - name: 'Build'
            cmd: 'npm run build'
    name: ${{ matrix.name }}
    steps:
      - uses: actions/setup-node@v3
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-node-
      - name: Install Deps
        run: npm ci --ignore-scripts
      - name: ${{ matrix.name }}
        run: ${{ matrix.cmd }}
